<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>login</title>
</head>

<style>
	body {
		font-size: 26px;
		font-family: Georgia, serif;
		background-color: forestgreen;
		text-align: center;
	}

	div {
		border: double 1rem maroon; 
		border-radius: 5%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	form {
        padding: 1rem;
    }

    h3 {
        padding: .5rem
    }
	
	button {
		width: 10rem;
		height: 2rem;
		background-color: gold;
		border: outset .2rem black;
		border-radius: 5%;
		font: 1.2rem Georgia;
	}
</style>

<body>
    <header>
		<h1>Blackjack</h1>
        <h2>Login</h2>
	</header>
    <div>
        <h3><%-status%></h3>
        <form method="post" action="/table">
            <label>Username: <input type="text" name="username"></label><br><br>
            <label>Password: <input type="password" name="password"></label><br><br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
